.locate-me
  %button#locate-me <b>I'm drunk and lost, please find me...</b>
.directions
  .vodka
  .vodka
  .vodka
  .vodka
  .vodka
  
#map-canvas
.sinner.half-div#night_club
  %p Do you want to get more hammered?
.saint.half-div#place_of_worship
  %p ...Or find forgiveness?
.results
