.locate-me
  %button#locate-me I'm drunk, find me.
  / Beer being poored
  #container.beer
    .pour
    #beaker
      .beer-foam
        .foam-1
        .foam-2
        .foam-3
        .foam-4
        .foam-5
        .foam-6
        .foam-7
      #liquid
        .bubble.bubble1
        .bubble.bubble2
        .bubble.bubble3
        .bubble.bubble4
        .bubble.bubble5
  %h2.animated.drunk Woups!

.directions
  .vodka
  .vodka
  .vodka
  .vodka
  .vodka
  
#map-canvas
#loading
.sinner.half-div#night_club
  %p Do you want to get more hammered?
.saint.half-div#place_of_worship
  %p ...Or find forgiveness?
.results
