.locate-me{
  display:block;
  position:absolute;
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  background:grey;
  text-align:center;
  background-image:url('street.jpg');
  background-size:cover;
  background-attachment:fixed;
  button{
    opacity:0.5;
    width:250px;
    padding:20px;
    border-radius: 5px;
    background:black;
    color:white;
    border:none;
    margin: 30% auto;
    height: 20px;
    position:relative;
    font-size:17px;
  }
  button:hover{
    opacity:0.8;
    color:lightgrey;
  }
}
.directions{
  width:100%;
  position:absolute;
  top:100%;
  height:0;
  background:lightgrey;
  z-index:0;
  text-align:center;
  font-size:0;
  .vodka{
    background-image: url('vodka.png');
    background-size:100%;
    display:inline-block;
    height:0;
    width:0;
  }
  .hover{
    background-image: url('drunk.png');
    // background-repeat: none;
    background-size:cover;
  }
}
#map-canvas{
 display:block;
 height:80%;
 width:100%;
 position:absolute;
 top:100%;
 z-index:1;
}
.half-div{
  width:50%;
  position:absolute;
  top:180%;
  padding:0px;
  height:20%;
  margin:0;
  background:black;
  color:white;
  text-align:center;
  cursor:pointer;
  z-index:0;
  p{
    margin: 45px 0;
  }
}
.half-div:hover{
  background:lightgrey;
}
.sinner{
  float:left;
}
.saint{
  float:right;
  right:0;
}
.results{
  position: absolute;
  text-align:center;
  top:200%;
  height:100%;
  width:100%;
  // background-image:url('street.jpg');
  background-size:100%;
  background-attachment:fixed;
  li{
    list-style: none;
    padding:20px;
  }
  li:hover{
    background:lightgrey;
    cursor:pointer;
  }
}
.viewmap{
  background:black;
  color:white;
  padding:10px;
  border:none;
  font-size: 16px;
  border-radius:3px;
  display:block;
  margin: 10px auto;
}