.locate-me{
  display:block;
  position:absolute;
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  background:grey;
  text-align:center;
  background-image:url('https://s3-eu-west-1.amazonaws.com/saint-or-sinner/images/street.jpg');
  background-size:cover;
  background-attachment:fixed;
  button{
    cursor:pointer;
    z-index:100;
    opacity:0.9;
    width:160px;
    padding:10px 20px;
    background:white;
    border:none;
    height: 50px;
    position:absolute;
    top:50%;
    left:50%;
    margin:0 -90px 0 -100px;
    font-size:17px;
  }
  button:hover{
    opacity:0.8;
    color:darkgrey;
  }
}
.directions{
  width:100%;
  position:absolute;
  top:100%;
  height:0;
  background:lightgrey;
  z-index:0;
  text-align:center;
  font-size:0;
  .vodka{
    background-image: url('https://s3-eu-west-1.amazonaws.com/saint-or-sinner/images/vodka.png');
    background-size:100%;
    display:inline-block;
    height:0;
    width:0;
  }
  .hover{
    background-image: url('https://s3-eu-west-1.amazonaws.com/saint-or-sinner/images/drunk.png');
    // background-repeat: none;
    background-size:cover;
  }
  .viewresults{
    background:black;
    color:white;
    padding:10px;
    border:none;
    font-size: 16px;
    border-radius:3px;
    display:block;
    margin: 10px auto;
  }
}
#map-canvas{
 display:block;
 height:80%;
 width:100%;
 position:absolute;
 top:100%;
 z-index:1;
}
#loading{
  display:none;
  position:absolute;
  top:100%;
  z-index:2;
  background-image: url('https://s3-eu-west-1.amazonaws.com/saint-or-sinner/images/loading.gif');
  background-size: cover;
  background-repeat: none;
  height:100%;
  width:100%;
  text-align:center;
  h1{
    padding:30px;
    color:lime;
  }
}
.half-div{
  width:50%;
  position:absolute;
  top:180%;
  padding:0px;
  height:20%;
  margin:0;
  background:black;
  color:white;
  text-align:center;
  cursor:pointer;
  z-index:0;
  p{
    margin: 45px 0;
  }
}
.half-div:hover{
  background:lightgrey;
}
.sinner{
  float:left;
}
.saint{
  float:right;
  right:0;
}
.results{
  position: absolute;
  text-align:center;
  top:200%;
  height:100%;
  width:100%;
  background-size:100%;
  background-attachment:fixed;
  li{
    list-style: none;
    padding:20px;
  }
  li:hover{
    background:lightgrey;
    cursor:pointer;
  }
}
.icon{
  height:20px;
  padding-right: 20px;
}
.viewmap{
  background:black;
  color:white;
  padding:10px;
  border:none;
  font-size: 16px;
  border-radius:3px;
  display:block;
  margin: 10px auto;
}